#header {zoom:1;}
#header .balance-1{height:1272px;top:-1272px;background-position:center bottom;}
#header .animated.balance-1{
	top:-636px;top:-1272px;
}
#header .balance-2{
	height:684px; top:-342px;top:-684px;background-position:center bottom;
}
