$orange: #f9a94d;
$panelColor: #f8f8f8;
$footerCreditColor: #666;
$purpleRed: #83205d;
$pink: #ff5e79;
$blue: #3ebdd4;
$brightGreen: #bed630;
$green: #95af2e;
$darkGreen: #61721e;
$lightPink: #f599ae;
$white: #fff;
$black: #000;
$textColor: #333;
$lightBlue: #7dd2e2;
$darkBlue: #248ea2;
$lightPink: #ffabb9;
$darkPurpleRed: #83205d;

@import url(//fonts.googleapis.com/css?family=Roboto+Slab|Roboto);