.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.introWrapper {
  margin: 4rem 0 0;
}

.header {
  &:before {
    z-index: 1;
    right: -184px;
    top: -132px;
    width: 400px;
    height: 200px;
  }
}

.logo {
  a {
    width: 60%;
    right: auto;
    left: 10%;
    top: -15%;
  }
}

.about {
  margin: 3rem 1rem 1rem;
}

.socialWrapper {
  margin: 1rem 5rem;
}

.themesWrapper {
  &:before {
    width: 130px;
    height: 130px;
    left: -55px;
  }
  &:after {
    opacity: 0.7;
  }
}

.sb-description {
  top: 20%;
  height: 80px;
  font-size: 1.5rem;
  padding: 0 1.5rem 0 1rem;
}

.footer {
  height: 140px;
  max-width: 800px;
  margin: 0 auto;
  &:before {
    @include backgroundSvg('02_butterfly.svg', 200px);
    left: 20px;
    top: -70px;
    z-index: 100;
  }
  &:after {
    @include backgroundSvg('03_flower.svg', 400px);
    transform: rotateY(190deg);
    top: -200px;
    right: -20px;
    z-index: -1;
  }
  p {
    left: 30%;
  }
}

.backToTop {
  top: 30%;
  right: 25%;
}