$icomoon-font-path: "fonts" !default;

$icon-download: "\e90b";
$icon-chevron-right: "\e909";
$icon-chevron-left: "\e90a";
$icon-next: "\e902";
$icon-pause: "\e907";
$icon-play: "\e908";
$icon-linkedin: "\e904";
$icon-twitter: "\e900";
$icon-mail: "\e901";
$icon-facebook: "\e903";

