@font-face {
  font-family: 'nightsky';
  src: url('../../blueFish/css/font/nightsky.eot?48982449');
  src: url('../../blueFish/css/font/nightsky.eot?48982449#iefix') format('embedded-opentype'),
       url('../../blueFish/css/font/nightsky.woff?48982449') format('woff'),
       url('../../blueFish/css/font/nightsky.ttf?48982449') format('truetype'),
       url('../../blueFish/css/font/nightsky.svg?48982449#nightsky') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'nightsky';
    src: url('../../blueFish/css/font/nightsky.svg?48982449#nightsky') format('svg');
  }
}