p {
	font-size: .85rem;
}

#intro {
	background: rgba($panelColor, .5);
	p {
		padding: 1em 1em 0 1em;
	}
	#header {
		&:before {
			right: -100px;
			z-index: -1;
		}
	}
	.logo {
		position: relative;
		height: 30px;
		a {
			display: inline-block;
			min-width: 80%;
			margin-left: 0;
			height: 70px;
			position: absolute;
			top: -20px;
			right: 0;
			z-index: 10;
		}
	}
	#facebook-profile-wrapper {
		margin: 0 -1.5em 1em 1em;
		float: right;
	}
}
.social {
	div, div:first-child, div:last-child {
		padding: 0;
		text-align: center;
	}
}
.latestRecordingTitle {
	@include backgroundSvg("mySampleRecording.svg", 60vw, 36px);
	font-size: 0;
	margin: 1.5rem auto 0;
}
.latestRecording {
	position: relative;
	max-width: calc(100% - 2em);
	border-radius: 10px;
	border: 2px dashed $green;
	min-height: 3.75rem;
	margin: 0 1rem 1rem;
	padding: 5px;
	background: rgba($panelColor, .5);
}
#themes {
	margin-top: 4rem;
	h1 {
		padding-left: 0;
		margin-left: 0;
		text-align: center;
		&:before {
			top: -15%;
		}
	}
	&:before, &:after {
		z-index: -1;
	}
	background: rgba($panelColor, .7);
	.bx-wrapper {
		border-radius: 10px;
		img {
			border-radius: 10px;
		}
	}
}
#footer {
	&:after {
		display: none;
	}
	p {
		font-size: 80%;
	}
}