#themes {
	&:before {
		top: -280px;
		right: auto;
		left: -400px;
		@include transform(rotate(140deg));
	}
}

#footer {
	p {
		&:after {
			display: none;
		}
	}
	&:before {
		display: block;
		@include transform(rotateY(-180deg));
		height: 150px;
		top: 20px;
		left: auto;
		right: 285px;
	}
}

.social {
	div:first-child {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			@include backgroundSvg("03_butterfly.svg", 80px);
			left: -60px;
			top: -50px;
		}
	}
}
